<html>

<head></head>

<body id="body" style="margin:0;width:100%;-webkit-text-size-adjust:none;">
  <div style="display:none;">
    <span id="caminhoAtual" style="display:none;">/</span>
    <span id="caminhoBase" style="display:none;">../</span>
    <span id="idProduto" style="display:none;"><%= produto.id %></span>
  </div>
  <style>
    input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;

    }

    input[type=number] {
      -moz-appearance: textfield;
      appearance: textfield;

    }
  </style>
  <span id="situaçãoCheckoutExterno" style="display:none;">inativo</span>
  <span id="linkCheckoutExterno" style="display:none;"></span>
  <span id="acionamentoCheckoutExterno" style="display:none;">Ao clicar em comprar na página produto</span>
  <span id="novaAbaCheckoutExterno" style="display:none;">não</span>
  <span id="nomeCheckoutExterno" style="display:none;">não</span>
  <span id="preçoOriginalCheckoutExterno" style="display:none;">não</span>
  <span id="preçoAtualCheckoutExterno" style="display:none;">não</span>
  <span id="nomeDoProduto" style="display:none;"><%= produto.nome_produto%></span>
  <span id="preçoOriginalDoProduto" style="display:none;"><%= produto.preco_original %></span>
  <span id="preçoAtualDoProduto" style="display:none;"><%= produto.precopreco_atual %>></span>
  <span id="dominio" style="display:none;"></span>
  <title>Mercado Livre Brasil: Frete grátis no mesmo dia</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/css.css?time=1711318202">
  <script type="text/javascript" src="../js/jquery.js"></script>
  <script type="text/javascript" src="../js/js.js?time=1711318202"></script>
  <script type="text/javascript" src="../js/owl.carousel.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="../css/owl.theme.default.css">
  <link rel="stylesheet" href="../css/produto.css?time=1711318202">
  <script type="text/javascript" src="../js/js.js?time=1711318202"></script>
  <script type="text/javascript" src="../js/produto.js?time=1711318202"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="../images/fog/vTSvZLQ.png" sizes="16x16">
  <span id="local" style="display:none;">produto</span>
  <script>
    local = $('#local').text();
    online(local);
    $('#hiddenclick').click();
    setInterval(function() {
      if (document.hasFocus() == true) {
        local = $('#local').text();
        online(local);
      }
    }, 10000);
  </script>
  <!--FIXED-->
  <!--loading-->
  <div id="loading" style="position:fixed;width:100vw;height:100vh;background-color:#fff059;display:none;align-items:center;z-index:105;">
    <style>
      .loader {
        margin: 25px;
        border: solid 5px #3483fa;
        border-top: 5px solid rgba(0, 0, 0, 0);
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 1s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    </style>
    <div style="width:100%;">
      <div style="margin:0 auto;height:70px;text-align:center;">
        <div class="loader" style="margin:0 auto;"></div>
      </div>
      <div style="margin:0 auto;text-align:center;display:flex;align-items:center;">
        <span style="margin:0 auto;font-family:nunitoregular;font-size:16px;color:rgba(0,0,0,.9);"></span>
      </div>
    </div>
  </div>
  <div id="loading2" style="position:fixed;width:100vw;height:100vh;background-color:rgba(255,255,255,0.9);display:none;align-items:center;z-index:105;">
    <style>
      .loader {
        margin: 25px;
        border: solid 5px #3483fa;
        border-top: 5px solid rgba(0, 0, 0, 0);
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 1s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    </style>
    <div style="width:100%;">
      <div style="margin:0 auto;height:70px;text-align:center;">
        <div class="loader" style="margin:0 auto;"></div>
      </div>
    </div>
  </div>
  <!--pergunta feita-->
  <div id="perguntaFeita" onclick="fecharPerguntaFeita();" style="width:100vw;padding:15px 20px;background-color:rgb(57, 181, 74);position:fixed;bottom:0;z-index:100;display:none;">
    <span style="font-family:proximaNovaRegular;font-size:14px;color:#ffffff;">Sua pergunta foi enviada com sucesso.</span>
  </div>
  <!--variações-->
  <div id="modalVariações" style="position:fixed;z-index:100;display:none;flex-flow:column;">
    <div onclick="modal(&quot;modalVariações&quot;);" style="flex-grow:1;flex-basis:auto;"></div>
    <div style="width:100%;height:max-content;max-height:70vh;">
      <div style="margin:0 24px 10px;flex-grow:1;height:max-content;display:flex;align-items:center;">
        <i onclick="modal(&quot;modalVariações&quot;);" class="material-icons" style="margin:0 0 0 auto;font-size:22px;color:#ffffff;width:max-content;height:max-content;"></i>
      </div>
      <div class="boxShadow" style="flex-grow:1;padding:15px;display:flex;flex-flow:column;max-height:calc(70vh - 40px);background-color:#ffffff;border-radius:8px 8px 0 0;">
        <span class="totalDeVariações" style="display:none;">1</span>
        <span class="tituloDaVariação0" style="display:none;">Voltagem</span>
        <span class="totalDeAtributosDaVariação0" style="display:none;">1</span>
        <div style="margin-bottom:5px;flex-grow:1;display:flex;align-items:center;">
          <span style="font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.9);">Voltagem:</span>
          <span class="atributoDaVariação0" style="margin-left:5px;font-family:proximaNovaRegular;font-size:16px;font-weight:bold;color:rgba(0,0,0,.9);">110V/220V</span>
        </div>
        <div style="margin-bottom:20px;flex-grow:1;max-width:100%;display:flex;align-items:center;overflow-x:scroll;">
          <div class="variação0atributo0" onclick="selecionarVariação(&quot;16521881&quot;,&quot;0&quot;,&quot;0&quot;);" style="margin-right: 10px; min-width: max-content; height: max-content; padding: 8px 14px; border: 2px solid rgb(52, 131, 250); border-radius: 6px; text-align: center; word-break: break-word;">
            <div style="display:none;margin:0 auto;width:48px;height:48px;position:relative;background-image:url(&quot;&quot;);background-size:contain;background-repeat:no-repeat;background-position:center;"></div>
            <span class="textovariação0atributo0" style="margin:0 auto;font-family:proximaNovaRegular;font-size:16px;">110V/220V</span>
            <span class="imagemvariação0atributo0" style="display:none;"></span>
            <span class="fullidvariação0atributo0" style="display:none;"></span>
          </div>
        </div>
        <div onclick="modal(&quot;modalVariações&quot;);" style="margin-top:25px;flex-grow:1;height:48px;background-color:#3483fa;border-radius:6px;display:flex;align-items:center;-webkit-tap-highlight-color:transparent;">
          <span style="margin:0 auto;font-family:proximaNovaRegular;font-weight:600;font-size:16px;color:#ffffff;">Aplicar</span>
        </div>
      </div>
    </div>
  </div>

  <!--quantidade-->
  <div id="modalQuantidade" style="position:fixed;;z-index:100;display:none;flex-flow:column;">
    <div onclick="modal(&quot;modalQuantidade&quot;);" style="flex-grow:1;flex-basis:auto;"></div>
    <div style="width:100%;height:max-content;max-height:70vh;">
      <div style="margin:0 24px 10px;flex-grow:1;height:max-content;display:flex;align-items:center;">
        <i onclick="modal(&quot;modalQuantidade&quot;);" class="material-icons" style="margin:0 0 0 auto;font-size:22px;color:#ffffff;width:max-content;height:max-content;"></i>
      </div>
      <div class="boxShadow" style="flex-grow:1;padding:15px;display:flex;flex-flow:column;max-height:calc(70vh - 40px);background-color:#ffffff;border-radius:8px 8px 0 0;">
        <span style="display:block;font-family:proximaNovaRegular;font-size:18px;font-weight:600;color:rgba(0,0,0,.9);">Escolha a quantidade</span>
      </div>
      <div style="width:100%;height:1px;background-color:#d8d8d8;"></div>
      <div class="listaDeQuantidades" style="flex-grow:1;display:flex;flex-flow:column;max-height:calc(70vh - 40px);background-color:#ffffff;overflow-y:auto;">
        <div onclick="selecionarQuantidade(&quot;1&quot;);" style="flex-grow:1;text-align:center;border-bottom:solid 1px #d8d8d8;padding:16.5px 0;">
          <span style="font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.9);">1 unidade</span>
        </div>
        <div onclick="selecionarQuantidade(&quot;2&quot;);" style="flex-grow:1;text-align:center;border-bottom:solid 1px #d8d8d8;padding:16.5px 0;">
          <span style="font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.9);">2 unidades</span>
        </div>
        <div onclick="selecionarQuantidade(&quot;3&quot;);" style="flex-grow:1;text-align:center;border-bottom:solid 1px #d8d8d8;padding:16.5px 0;">
          <span style="font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.9);">3 unidades</span>
        </div>
        <span id="quantidadeTotal" style="display:none;"><%= produto.quantidade_disponivel %></span>
      </div>
      <div class="quantidadeManual" style="flex-grow:1;height:max-content;display:none;flex-flow:column;background-color:#ffffff;">
        <span style="display:block;margin:5px 15px;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.9);">4 disponíveis</span>
        <input class="quantidadePersonalizada" type="number" style="margin:0 15px;display:block;flex-grow:1;height:48px;padding:0 10px;border:solid 1px rgba(0,0,0,.25);border-radius:5px;outline:0;font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.9);" placeholder="Informar quantidade">
        <div onclick="selecionarQuantidade(&quot;manual&quot;);" style="margin:15px;flex-grow:1;height:48px;background-color:#3483fa;border-radius:6px;display:flex;align-items:center;-webkit-tap-highlight-color:transparent;">
          <span style="margin:0 auto;font-family:proximaNovaRegular;font-weight:600;font-size:16px;color:#ffffff;">Aplicar</span>
        </div>
      </div>
      <div style="width:100%;height:10px;background-color:#ffffff;"></div>
    </div>
  </div>
  <!--caracteristicas-->
  <div id="modalCaracteristicas" style="position:fixed;background-color:#ffffff;z-index:100;display:none;flex-flow:column;">
    <div style="margin:20px 15px;flex-grow:1;display:flex;align-items:center;">
      <span style="margin:0 auto 0 0;flex-grow:1;font-family:proximaNovaRegular;font-weight:600;font-size:24px;color:rgba(0,0,0,.9);">Características do produto</span>
      <i onclick="modal(&quot;modalCaracteristicas&quot;);" class="material-icons" style="margin:0 0 0 auto;font-size:24px;color:#3483fa;width:max-content;height:max-content;cursor:pointer;"></i>
    </div>
    <div style="width:100%;height:1px;background-color:#d8d8d8;"></div>
    <div style="margin:0 15px;flex-grow:1;flex-basis:auto;overflow-y:auto;">
      <% Object.keys(especificacoes_gerais.general_especifications).forEach(category => { %>
      <div style="flex-grow:1;padding:10px 0;display:flex;align-items:center;">
        <span style="font-family:proximaNovaRegular;font-size:16px;font-weight:600;color:rgba(0,0,0,.9);"><%= category %></span>
      </div>
      <div style="margin-bottom:25px;flex-grow:1;border-radius:3px;border:solid 1px #f5f5f5;">
        <% especificacoes_gerais.general_especifications[category].forEach((item, key) => { %>
        <% let backgroundColor = key % 2 == 0 ? 'rgba(0,0,0,.04)' : 'rgba(0,0,0,.0)'; %>
        <% console.log(item) %>
        <div style="flex-grow:1;border-radius:3px;border:solid 1px #f5f5f5; background-color: <%= backgroundColor %>;">
          <div style="width:100%;display:flex;align-items:center;height:max-content;padding:10px 0;">
            <div style="width:50%;display:flex;align-items:center;height:max-content;">
              <span style="margin-left:10px;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.9);"><%= item.name %></span>
            </div>
            <div style="width:50%;display:flex;align-items:center;height:max-content;">
              <span style="margin-left:10px;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.9);"><%= item.val %></span>
            </div>
          </div>
        </div>
        <% }) %>
      </div>

      <% }) %>

    </div>
    <div style="margin:0 15px;flex-grow:1;height:10px;"></div>
  </div>
  <!--detalhes do vendedor-->
  <div id="modalVendedor" style="position:fixed;background-color:#ffffff;z-index:100;display:none;flex-flow:column;">
    <div style="margin:20px 15px;flex-grow:1;display:flex;align-items:center;max-height:35px;">
      <span style="margin:0 auto 0 0;flex-grow:1;font-family:proximaNovaRegular;font-weight:400;font-size:20px;color:rgba(0,0,0,.9);">Detalhes do vendedor</span>
      <i onclick="modal(&quot;modalVendedor&quot;);" class="material-icons" style="margin:0 0 0 auto;font-size:24px;color:#3483fa;width:max-content;height:max-content;cursor:pointer;"></i>
    </div>
    <div style="width:100%;height:1px;background-color:#d8d8d8;"></div>
    <div style="flex-grow:1;flex-basis:auto;overflow-y:auto;background-color:#eeeeee;text-align:left;display:flex;flex-flow:column;">
      <div style="flex-grow:1;">
        <span style="margin-left:20px;margin-top:30px;display:block;font-family:proximaNovaRegular;font-weight:400;font-size:32px;color:#333333;">Mercado Livre</span>
        <span style="margin-left:20px;margin-top:20px;display:block;font-family:proximaNovaLight;font-weight:400;font-size:16px;color:#333333;">10 anos vendendo no Mercado Livre</span>
        <span style="margin-left:20px;margin-top:5px;display:block;font-family:proximaNovaLight;font-weight:400;font-size:16px;color:#333333;">Cajamar, São Paulo</span>
        <span style="margin-left:20px;margin-top:20px;display:block;font-family:proximaNovaLight;font-weight:400;font-size:16px;color:#333333;">+1M Vendas nos últimos 365 dias</span>
        <div style="margin:30px 20px;flex-grow:1;display:flex;align-items:center;">
          <div style="margin-right:5px;min-width:calc(20% - 4px);height:8px;background-color:#f0e0df;"></div>
          <div style="margin-right:5px;min-width:calc(20% - 4px);height:8px;background-color:#f1e6d8;"></div>
          <div style="margin-right:5px;min-width:calc(20% - 4px);height:8px;background-color:#f2eec3;"></div>
          <div style="margin-right:5px;min-width:calc(20% - 4px);height:8px;background-color:#e1eec3;"></div>
          <div style="min-width:calc(20% - 4px);height:12px;background-color:#39b54a;"></div>
        </div>
        <div style="padding:30px 20px;flex-grow:1;height:max-content;background-color:#ffffff;border-top:solid 1px #e0e0e0;border-bottom:solid 1px #e0e0e0;display:flex;align-items:center;">
          <img src="../images/fog/LQ7PIHA.png" style="width:77px;height:77px;margin-right:10px;">
          <div style="flex-grow:1;text-align:left;">
            <span style="display:block;font-family:proximaNovaRegular;font-weight:400;font-size:18px;color:#666;">Presta um bom atendimento</span>
            <span style="margin-top:10px;display:block;font-family:proximaNovaRegular;font-weight:400;font-size:14px;color:#999;">Os seus compradores estão satisfeitos.</span>
          </div>
        </div>
        <div style="padding:30px 20px;flex-grow:1;height:max-content;background-color:#ffffff;border-top:solid 1px #e0e0e0;border-bottom:solid 1px #e0e0e0;display:flex;align-items:center;">
          <img src="../images/fog/RTJuyF1.png" style="width:77px;height:77px;margin-right:10px;">
          <div style="flex-grow:1;text-align:left;">
            <span style="display:block;font-family:proximaNovaRegular;font-weight:400;font-size:18px;color:#666;">Entrega os produtos dentro do prazo</span>
            <span style="margin-top:10px;display:block;font-family:proximaNovaRegular;font-weight:400;font-size:14px;color:#999;">Os produtos são entregue sem atraso.</span>
          </div>
        </div>
        <div class="carrossel" style="margin-top:25px;width:100%;display:block;background-color:#eeeeee;">
          <span style="margin:5px 10px 20px 20px;display:block;font-family:proximaNovaRegular;font-size:20px;color:rgba(0,0,0,.9);">Mais anúncios do vendedor</span>
          <div class="carrossel2">
          </div>
        </div>
        <div style="margin-top:25px;padding:15px 0;flex-grow:1;background-color:#ffffff;display:flex;flex-flow:column;">
          <div style="flex-grow:1;padding:0 15px;display:flex;flex-flow:column;">
            <span style="display:block;font-family:proximaNovaLight;font-size:18px;color:rgba(0,0,0,.9);">Opiniões dos seus compradores</span>
            <span style="margin-top:15px;display:block;font-family:proximaNovaRegular;font-weight:400;font-size:32px;color:rgba(0,0,0,.9);">69</span>
            <% user_avaliations.forEach(function(evaluation) { %>
            <div style="flex-grow:1;padding:25px 15px;border-bottom:solid 1px #efefef;text-align:left;">
              <div style="display:flex;align-items:center;">
                <% JSON.parse(evaluation.images).images.forEach(function(image, index) { %>
                <% if (index < 1) { %>
                <!-- Mostra apenas a primeira imagem -->
                <img src="<%= image %>" style="width:18px;height:18px;margin-right:10px;">
                <% } %>
                <% }) %>
                <span style="font-family:proximaNovaLight;font-size:14px;color:#333;"><%= evaluation.posterName %></span>
              </div>
              <!-- Como não temos um texto de avaliação no objeto exemplo, você pode adicionar aqui -->
              <span style="display:block;margin-top:5px;font-family:proximaNovaLight;font-size:16px;color:#999;">Aqui entra a avaliação ou comentário.</span>
              <span style="display:block;margin-top:5px;font-family:proximaNovaLight;font-size:14px;color:#999;"><%= new Date(evaluation.commentDate).toLocaleString() %></span>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--HEADER-->
  <header class="header">
    <div class="headerMobile">
      <img onclick="irPara(&quot;inicio&quot;);" src="../images/dfYjscn.png" style="margin:0 10px;height:32px;">
      <div style="margin-left:10px;flex-grow:1;height:34px;background-color:#ffffff;border-radius:2px;display:flex;align-items:center;">
        <i class="material-icons" style="margin:0 5px;font-size:18px;color:#aaaaaa;"></i>
        <input id="buscar" style="margin:0 5px;height:34px;flex-grow:1;outline:0;background-color:rgba(0,0,0,0);border:none;" placeholder="Estou buscando...">
      </div>
      <div id="botaoMenu" onclick="menu();">
        <i id="iconeMenu" class="material-icons" style="margin:0 auto;font-size:28px;color:rgba(0,0,0,.9);"></i>
      </div>
      <div onclick="irPara(&quot;carrinho&quot;);" style="width:45px;display:flex;align-items:center;">
        <img src="../images/gD2SAfa.png" style="margin:0 auto;max-height:20px;">
      </div>
    </div>
    <div class="headerDesktop">
      <div style="margin-right:10px;padding:0 10px;width:max-content;display:flex;align-items:center;">
        <span style="margin-top:3px;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.55);font-weight:300;">Acessórios para Veículos</span>
      </div>
      <div style="margin-right:10px;padding:0 10px;width:max-content;display:flex;align-items:center;">
        <span style="margin-top:3px;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.55);font-weight:300;">Casa, Móveis e Decoração</span>
      </div>
      <div style="margin-right:10px;padding:0 10px;width:max-content;display:flex;align-items:center;">
        <span style="margin-top:3px;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.55);font-weight:300;">Eletrodomésticos</span>
      </div>
      <div style="margin-right:10px;padding:0 10px;width:max-content;display:flex;align-items:center;">
        <span style="margin-top:3px;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.55);font-weight:300;">Eletrônicos, Áudio e Vídeo</span>
      </div>
      <div style="margin-right:10px;padding:0 10px;width:max-content;display:flex;align-items:center;">
        <span style="margin-top:3px;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.55);font-weight:300;">Ferramentas</span>
      </div>
      <div style="margin-right:10px;padding:0 10px;width:max-content;display:flex;align-items:center;">
        <span style="margin-top:3px;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.55);font-weight:300;">Informática</span>
      </div>
      <div style="margin-right:10px;padding:0 10px;width:max-content;display:flex;align-items:center;">
        <span style="margin-top:3px;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.55);font-weight:300;">Saúde</span>
      </div>
    </div>
  </header>
  <!--menu-->
  <section id="menu" style="display:none;flex-flow:column;border-bottom:solid 1px rgba(0,0,0,.1);">
    <div style="flex-grow:1;padding:15px;display:flex;background-color:#fff159;position:relative;border-top:solid 1px rgba(0,0,0,.12);">
      <div style="position:absolute;top:-6px;right:61px;width:10px;height:10px;background-color:#fff059;border-left:solid 1px rgba(0,0,0,.12);border-top:solid 1px rgba(0,0,0,.12);transform:rotate(45deg);z-index:10;"></div>
      <div style="flex-grow:1;display:flex;align-items:center;">
        <div style="width:56px;height:56px;border-radius:50%;background-color:#ededed;display:flex;align-items:center;">
          <img src="../images/fog/wZ9fx26.png" style="margin:0 auto;min-width:28px;max-width:28px;min-height:35px;max-height:35px;">
        </div>
        <div style="margin-left:10px;flex-grow:1;">
          <span style="display:block;font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.9);font-weight:600;opacity:.9;">Bem-vindo</span>
          <span style="margin-top:5px;display:block;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.9);opacity:.65;">Seja bem-vindo ao Mercado Livre.</span>
        </div>
      </div>
    </div>
    <div style="flex-grow:1;">
      <div onclick="irPara(&quot;inicio&quot;);" style="flex-grow:1;padding:20px 24px;display:flex;align-items:center;">
        <div style="display:flex;align-items:center;width:20px;height:20px;position:relative;background-image:url(&quot;../images/fog/yGS1RQS.png&quot;);background-size:contain;background-repeat:no-repeat;background-position:center;"></div>
        <span style="margin-left:20px;margin-top:3px;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.8);font-weight:600;">Início</span>
      </div>
      <div style="margin:0;width:100%;height:1px;background-color:rgba(0,0,0,.1);"></div>
      <span style="margin:25px 24px 10px 24px;display:block;font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.8);font-weight:600;">Categorias</span>
      <div onclick="irParaCategoria(&quot;Acessórios para Veículos&quot;);" style="margin-bottom:10px;flex-grow:1;padding:10px 24px;display:flex;align-items:center;">
        <div style="margin-right:20px;display:flex;align-items:center;width:20px;height:20px;position:relative;background-image:url(&quot;&quot;);background-size:contain;background-repeat:no-repeat;background-position:center;"></div>
        <span style="margin-top:3px;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.8);font-weight:600;">Acessórios para Veículos</span>
      </div>
      <div onclick="irParaCategoria(&quot;Casa, Móveis e Decoração&quot;);" style="margin-bottom:10px;flex-grow:1;padding:10px 24px;display:flex;align-items:center;">
        <div style="margin-right:20px;display:flex;align-items:center;width:20px;height:20px;position:relative;background-image:url(&quot;&quot;);background-size:contain;background-repeat:no-repeat;background-position:center;"></div>
        <span style="margin-top:3px;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.8);font-weight:600;">Casa, Móveis e Decoração</span>
      </div>
      <div onclick="irParaCategoria(&quot;Eletrodomésticos&quot;);" style="margin-bottom:10px;flex-grow:1;padding:10px 24px;display:flex;align-items:center;">
        <div style="margin-right:20px;display:flex;align-items:center;width:20px;height:20px;position:relative;background-image:url(&quot;&quot;);background-size:contain;background-repeat:no-repeat;background-position:center;"></div>
        <span style="margin-top:3px;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.8);font-weight:600;">Eletrodomésticos</span>
      </div>
      <div onclick="irParaCategoria(&quot;Eletrônicos, Áudio e Vídeo&quot;);" style="margin-bottom:10px;flex-grow:1;padding:10px 24px;display:flex;align-items:center;">
        <div style="margin-right:20px;display:flex;align-items:center;width:20px;height:20px;position:relative;background-image:url(&quot;&quot;);background-size:contain;background-repeat:no-repeat;background-position:center;"></div>
        <span style="margin-top:3px;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.8);font-weight:600;">Eletrônicos, Áudio e Vídeo</span>
      </div>
      <div onclick="irParaCategoria(&quot;Ferramentas&quot;);" style="margin-bottom:10px;flex-grow:1;padding:10px 24px;display:flex;align-items:center;">
        <div style="margin-right:20px;display:flex;align-items:center;width:20px;height:20px;position:relative;background-image:url(&quot;&quot;);background-size:contain;background-repeat:no-repeat;background-position:center;"></div>
        <span style="margin-top:3px;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.8);font-weight:600;">Ferramentas</span>
      </div>
      <div onclick="irParaCategoria(&quot;Informática&quot;);" style="margin-bottom:10px;flex-grow:1;padding:10px 24px;display:flex;align-items:center;">
        <div style="margin-right:20px;display:flex;align-items:center;width:20px;height:20px;position:relative;background-image:url(&quot;&quot;);background-size:contain;background-repeat:no-repeat;background-position:center;"></div>
        <span style="margin-top:3px;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.8);font-weight:600;">Informática</span>
      </div>
      <div onclick="irParaCategoria(&quot;Saúde&quot;);" style="margin-bottom:10px;flex-grow:1;padding:10px 24px;display:flex;align-items:center;">
        <div style="margin-right:20px;display:flex;align-items:center;width:20px;height:20px;position:relative;background-image:url(&quot;&quot;);background-size:contain;background-repeat:no-repeat;background-position:center;"></div>
        <span style="margin-top:3px;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.8);font-weight:600;">Saúde</span>
      </div>
    </div>
  </section>
  <main style="background-color:#ffffff;">
    <div style="margin:15px 16px 0 16px;flex-grow:1;display:flex;align-items:center;">
      <span style="font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.55);">Novo | +<%= produto.quantidade_vendidos%> vendidos</span>
      <span style="margin:0 0 0 auto;font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.9);">
        <%= produto.quantidade_estrelas / 10 %>
        <span style="color:#3483fa;">
          <% for(let i = 0; i < produto.quantidade_estrelas / 10; i++) { %>
          ★
          <% } %>
        </span>
      </span>
    </div>
    <div style="margin:10px 16px 0 16px;flex-grow:1;display:flex;align-items:center;word-break:break-word;">
      <span style="font-family:proximaNovaRegular;font-size:18px;font-weight:400;color:rgba(0,0,0,.9);line-height:1.18;"><%= produto.nome_produto%></span>
    </div>
    <div style="margin:10px 0 0 16px;width:max-content;padding:2px 5px;display:flex;align-items:center;background-color:#f73;opacity:.9;border-radius:3px;">
      <span style="margin:0 auto;font-family:proximaNovaRegular;font-size:10px;font-weight:600;color:#ffffff;letter-spacing:.3px;">MAIS VENDIDO</span>
    </div>
    <div style="margin:0;flex-grow:1;">
      <div id="imagens-do-produto" class="owl-carousel owl-theme owl-loaded owl-drag">
        <div class="owl-stage-outer">
          <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 8037px;">
            <% slider_images.images.forEach(function(image) { %>
            <div class="owl-item" style="width: 893px;">
              <div style="display:flex;align-items:center;flex-grow:1;min-height:400px;height:400px;max-height:400px;position:relative;background-image:url('<%= image %>');background-size:contain;background-repeat:no-repeat;background-position:center;"></div>
            </div>
            <% }); %>
          </div>
        </div>
        <div class="owl-nav disabled">
          <button type="button" role="presentation" class="owl-prev">
            <span aria-label="Previous">‹</span>
          </button>
          <button type="button" role="presentation" class="owl-next">
            <span aria-label="Next">›</span>
          </button>
        </div>
      </div>
    </div>
    <div style="margin:15px 16px 0 16px;flex-grow:1;">
      <div onclick="modal(&quot;modalVariações&quot;);" style="margin-bottom:10px;flex-grow:1;height:70px;padding:0 15px;display:flex;align-items:center;background-color:#f5f5f5;border-radius:6px;cursor:pointer;">
        <div style="flex-grow:1;">
          <span style="display:block;font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.9);font-weight:400;line-height:1;">Voltagem:</span>
          <span class="atributoDaVariação0" style="margin-top:5px;display:block;font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.9);font-weight:600;line-height:1;">110V/220V</span>
        </div>
        <div style="margin:0 0 0 auto;width:max-content;display:flex;align-items:center;">
          <div class="imagemDaVariação0" style="display:flex;align-items:center;width:32px;height:32px;position:relative;background-image:url(&quot;&quot;);background-size:contain;background-repeat:no-repeat;background-position:center;border-radius:3px;"></div>
          <div style="display:none;width:max-content;">
            <i class="material-icons" style="color:#3483fa;font-size:24px;"></i>
          </div>
        </div>
      </div>
      <script>
        selecionarVariação("16521881", "0", "0", "não");
      </script>
    </div>
    <div style="margin:25px 16px 0 16px;flex-grow:1;">
      <span style="font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.55);text-decoration:line-through;">R$ <%= produto.preco_original %> </span>
      <div style="width:max-content;display:flex;">
        <span style="font-family:proximaNovaLight;font-size:32px;color:rgba(0,0,0,.9);">R$ <%= produto.preco_atual%></span>
        <% if (produto.preco_original && produto.preco_atual) { %>
        <% let desconto = ((produto.preco_original - produto.preco_atual) / produto.preco_original) * 100; %>
        <span style="margin:5px 0 0 5px;font-family:proximaNovaRegular;font-size:18px;color:#00a650;">
          <%= desconto.toFixed(0) %>% OFF
        </span>
        <% } %>
      </div>
      <span style="display:none;font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.9);line-height:1;">em
        <span style="color:#00a650;">12x de R$ 33,32 sem juros</span>
      </span>
      <div style="widht:max-content;display:flex;position:relative;bottom:0;">
        <div style="margin:20px 10px 0 0;width:max-content;padding:5px;display:none;align-items:center;background-color:rgba(65,137,230,.2);opacity:.9;border-radius:3px;">
          <span style="margin:0 auto;font-family:proximaNovaRegular;font-size:13px;font-weight:600;color:#3483fa;letter-spacing:.3px;">0% OFF com PIX</span>
        </div>
        <div style="margin:auto 0 0 0;width:max-content;height:max-content;padding:2px 5px;display:flex;align-items:center;background-color:#3483fa;opacity:.9;border-radius:3px;">
          <span style="margin:0 auto;font-family:proximaNovaRegular;font-size:12px;font-weight:600;color:#ffffff;letter-spacing:.3px;">OFERTA DO DIA</span>
        </div>
      </div>
      <span style="margin:25px 0 0 0;display:block;font-family:proximaNovaRegular;font-weight:800;font-size:16px;color:#00a650;">Chegará amanhã</span>
      <span style="margin-top:5px;display:block;font-family:proximaNovaRegular;font-weight:400;font-size:14px;color:rgba(0,0,0,.55);">Saiba os prazos de entrega e as formas de envio.</span>
      <span style="margin-top:5px;display:none;font-family:proximaNovaRegular;font-weight:400;font-size:14px;color:#3483fa;">Mais formas de entrega</span>
      <div style="margin-top:25px;flex-grow:1;display:flex;align-items:center;">
        <div style="margin-right:10px;border-radius:4px;display:flex;width:44px;height:44px;background-color:#f5f5f5;position:relative;background-image:url(&quot;../images/fog/IggJsE2.png&quot;);background-size:contain;background-repeat:no-repeat;background-position:center;"></div>
        <div style="flex-grow:1;">
          <span style="display:block;font-family:proximaNovaRegular;font-weight:400;font-size:14px;color:rgba(0,0,0,.9);">Loja oficial
            <span style="color:#3483fa;">Mercado Livre</span>
          </span>
          <span style="margin-top:5px;display:block;font-family:proximaNovaRegular;font-weight:400;font-size:14px;color:rgba(0,0,0,.9);">+1M vendas</span>
        </div>
      </div>
      <span style="margin-top:25px;display:block;font-family:proximaNovaRegular;font-weight:800;font-size:16px;color:rgba(0,0,0,.9);">Estoque disponível</span>
      <div style="width:max-content;display:flex;align-items:center;">
        <span style="display:block;font-family:proximaNovaRegular;font-weight:400;font-size:14px;color:rgba(0,0,0,.55);">Armazenado e enviado pelo&nbsp;</span>
        <img src="../images/fog/ulfGCun.png" style="max-height:18px;">
      </div>
      <div onclick="modal(&quot;modalQuantidade&quot;);" style="margin-top:25px;flex-grow:1;padding:0 10px;height:50px;background-color:#f5f5f5;border-radius:6px;display:flex;align-items:center;cursor:pointer;">
        <span style="font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.9);">Quantidade:</span>
        <span class="quantidadeEscolhida" style="margin-left:10px;font-family:proximaNovaRegular;font-size:16px;font-weight:800;color:rgba(0,0,0,.9);">1</span>
        <span style="margin-left:20px;font-family:proximaNovaRegular;font-size:16px;font-weight:400;color:rgba(0,0,0,.25);">(<%= produto.quantidade_disponivel%> disponíveis)</span>
        <i class="material-icons" style="margin:0 0 0 auto;color:#3483fa;font-size:24px;"></i>
      </div>
      <div onclick="adicionarAoCarrinho(&quot;login&quot;);" style="margin-top:25px;flex-grow:1;height:48px;background-color:#3483fa;border-radius:6px;display:flex;align-items:center;-webkit-tap-highlight-color:transparent;cursor:pointer;">
        <span style="margin:0 auto;font-family:proximaNovaRegular;font-weight:600;font-size:16px;color:#ffffff;">Comprar agora</span>
      </div>
      <div onclick="adicionarAoCarrinho(&quot;carrinho&quot;);" style="margin-top:10px;flex-grow:1;height:48px;background-color:rgba(65,137,230,.15);border-radius:6px;display:flex;align-items:center;-webkit-tap-highlight-color:transparent;cursor:pointer;">
        <span style="margin:0 auto;font-family:proximaNovaRegular;font-weight:600;font-size:16px;color:#3483fa;">Adicionar ao carrinho</span>
      </div>
      <div style="margin-top:25px;flex-grow:1;display:flex;">
        <img src="../images/fog/1LbAYXx.png" style="margin-top:2px;height:12px;">
        <div style="margin-left:10px;width:max-content;">
          <span style="display:block;font-family:proximaNovaRegular;font-weight:400;font-size:14px;color:#3483fa;">Devolução grátis.</span>
          <span style="margin-top:5px;display:block;font-family:proximaNovaRegular;font-weight:400;font-size:14px;color:rgba(0,0,0,.55);">Você tem 7 dias a partir da data de recebimento.</span>
        </div>
      </div>
      <div style="margin-top:20px;flex-grow:1;display:flex;">
        <img src="../images/fog/oQGZ0eH.png" style="margin-top:2px;height:16px;">
        <div style="margin-left:10px;width:max-content;">
          <span style="display:block;font-family:proximaNovaRegular;font-weight:400;font-size:14px;color:#3483fa;">Compra Garantida,
            <span style="font-family:proximaNovaRegular;font-weight:400;font-size:14px;color:rgba(0,0,0,.55);">receba o produto que está esperando ou devolvemos o dinheiro.</span>
          </span>
        </div>
      </div>
      <div style="margin-top:20px;flex-grow:1;display:none;">
        <img src="../images/fog/DlvrwE0.png" style="margin-top:2px;height:16px;">
        <span style="margin-left:10px;font-family:proximaNovaRegular;font-weight:400;font-size:14px;color:rgba(0,0,0,.55);">Você acumula <%= produto.id * 10%> pontos com esta compra e está mais perto de ser
          <span style="color:#3483fa;">Meli+</span>.</span>
      </div>
      <div style="margin-top:20px;flex-grow:1;display:flex;">
        <img src="../images/fog/Jg9yNW9.png" style="margin-top:2px;height:16px;">
        <span style="margin-left:10px;font-family:proximaNovaRegular;font-weight:400;font-size:14px;color:rgba(0,0,0,.55);">12 meses de garantia de fábrica.</span>
      </div>
    </div>
    <div style="margin:40px 0;width:100%;height:1px;background-color:rgba(0,0,0,.1)"></div>
    <div style="margin:0 16px;flex-grow:1;display:flex;flex-flow:column;">
      <span style="margin-bottom:20px;display:block;font-family:proximaNovaRegular;font-size:20px;color:rgba(0,0,0,.9);">O que você precisa saber sobre este produto</span>
      <% details.forEach(function(detail) { %>
      <div style="margin-bottom:15px;width:-max-content;display:flex;flex-grow:1;">
        <div style="min-width:20px;width:20px;display:block;height:100%;position:relative;">
          <span style="margin-top:-3px;position:relative;font-family:proximaNovaRegular;display:block;font-size:20px;color:rgba(0,0,0,.25);">•</span>
        </div>
        <div style="flex-grow:1;text-align:left;">
          <span style="font-family:proximaNovaRegular;display:block;font-size:16px;color:rgba(0,0,0,.9);"><%=detail%></span>
        </div>
      </div>
      <% }); %>
    </div>
    <div style="margin:25px 0 40px 0;width:100%;height:1px;background-color:rgba(0,0,0,.1);display:flex;flex-flow:column;"></div>
    <div id="" style="margin:0 16px;flex-grow:1;display:flex;flex-flow:column;">
      <span style="display:block;margin-bottom:20px;font-family:proximaNovaRegular;font-size:24px;color:rgba(0,0,0,.9);">Características do produto</span>
      <div style="flex-grow:1;max-height:500px;overflow-y:hidden;transition: all .5s linear 0s;">
        <%
                    let count = 0;
                    Object.keys(especificacoes_gerais.general_especifications).forEach(category => {
                        if (count < 2) {
                            %>
        <div style="flex-grow:1;padding:10px 0;display:flex;align-items:center;">
          <span style="font-family:proximaNovaRegular;font-size:16px;font-weight:600;color:rgba(0,0,0,.9);"><%= category %></span>
        </div>
        <div style="margin-bottom:25px;flex-grow:1;border-radius:3px;border:solid 1px #f5f5f5;">
          <% especificacoes_gerais.general_especifications[category].forEach((item, key) => { %>
          <% let backgroundColor = key % 2 == 0 ? 'rgba(0,0,0,.04)' : 'rgba(0,0,0,.0)'; %>
          <% console.log(item) %>
          <div style="flex-grow:1;border-radius:3px;border:solid 1px #f5f5f5; background-color: <%= backgroundColor %>;">
            <div style="width:100%;display:flex;align-items:center;height:max-content;padding:10px 0;">
              <div style="width:50%;display:flex;align-items:center;height:max-content;">
                <span style="margin-left:10px;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.9);"><%= item.name %></span>
              </div>
              <div style="width:50%;display:flex;align-items:center;height:max-content;">
                <span style="margin-left:10px;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.9);"><%= item.val %></span>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
        <% count++;
                        }
                    }) %>

      </div>
      <div onclick="modal(&quot;modalCaracteristicas&quot;);" style="margin-top:25px;flex-grow:1;padding:0 15px;height:50px;border:solid 1px rgba(0,0,0,.1);border-radius:6px;display:flex;align-items:center;cursor:pointer;">
        <span style="font-family:proximaNovaRegular;font-size:14px;color:#3483fa;">Ver todas as características</span>
        <i class="material-icons" style="margin:0 0 0 auto;color:#3483fa;font-size:24px;"></i>
      </div>
    </div>
    <div style="margin:40px 0;width:100%;height:1px;background-color:rgba(0,0,0,.1);display:flex;flex-flow:column;"></div>
    <div id="" style="margin:0 16px 25px 16px;flex-grow:1;">
      <span style="margin:20px 0;display:block;font-family:proximaNovaRegular;display:block;font-size:20px;color:rgba(0,0,0,.9);">Informações da loja</span>
      <div style="display:flex;align-items:center;width:max-content;">
        <div style="margin-right:10px;border-radius:4px;display:flex;width:44px;height:44px;background-color:#f5f5f5;position:relative;background-image:url(&quot;../images/fog/IggJsE2.png&quot;);background-size:contain;background-repeat:no-repeat;background-position:center;"></div>
        <div style="flex-grow:1;">
          <span style="display:block;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.9);">Mercado Livre</span>
          <span style="display:block;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.55);">Loja oficial no Mercado Livre</span>
        </div>
      </div>
      <div style="margin-top:20px;display:flex;width:max-content;">
        <img src="../images/fog/5sEOoUS.png" style="margin:4px 10px 0 0;max-height:16px;">
        <div style="flex-grow:1;">
          <span style="display:block;font-family:proximaNovaBold;font-size:16px;color:#00a650;">MercadoLíder Platinum</span>
          <span style="margin-top:5px;display:block;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.55);opacity:.8;">É um dos melhores do site!</span>
        </div>
      </div>
      <div style="margin:20px 0;flex-grow:1;display:flex;align-items:center;">
        <div style="margin-right:5px;min-width:calc(20% - 4px);height:8px;background-color:#fff0f0;"></div>
        <div style="margin-right:5px;min-width:calc(20% - 4px);height:8px;background-color:#fff5e8;"></div>
        <div style="margin-right:5px;min-width:calc(20% - 4px);height:8px;background-color:#fffcda;"></div>
        <div style="margin-right:5px;min-width:calc(20% - 4px);height:8px;background-color:#f1fdd7;"></div>
        <div style="min-width:calc(20% - 4px);height:12px;background-color:#39b54a;"></div>
      </div>
      <div style="flex-grow:1;display:flex;align-items:center;">
        <div style="width:30%;text-align:center;">
          <span style="display:block;font-family:proximaNovaRegular;font-size:24px;color:rgba(0,0,0,.9);">+1M</span>
          <span style="display:block;font-family:proximaNovaLight;font-size:12px;color:rgba(0,0,0,.9);">Vendas nos últimos 365 dias</span>
        </div>
        <div style="margin:0 auto;width:1px;height:52px;background-color:rgba(0,0,0,.15);"></div>
        <div style="width:30%;text-align:center;">
          <img src="../images/fog/KehaLNP.png" style="height:24px;">
          <span style="display:block;font-family:proximaNovaLight;font-size:12px;color:rgba(0,0,0,.9);">Presta bom atendimento</span>
        </div>
        <div style="margin:0 auto;width:1px;height:52px;background-color:rgba(0,0,0,.15);"></div>
        <div style="width:30%;text-align:center;">
          <img src="../images/fog/gxXo9SW.png" style="height:24px;">
          <span style="display:block;font-family:proximaNovaLight;font-size:12px;color:rgba(0,0,0,.9);">Entrega os produtos dentro do prazo</span>
        </div>
      </div>
      <div onclick="modal(&quot;modalVendedor&quot;);" style="margin-top:25px;flex-grow:1;padding:0 15px;height:48px;border:solid 1px rgba(0,0,0,.1);border-radius:6px;display:flex;align-items:center;">
        <span style="font-family:proximaNovaRegular;font-size:14px;color:#3483fa;">Ver mais dados de Mercado Livre</span>
        <i class="material-icons" style="margin:0 0 0 auto;color:#3483fa;font-size:24px;"></i>
      </div>
    </div>
    <div style="margin:40px 0;width:100%;height:1px;background-color:rgba(0,0,0,.1)"></div>
    <div id="" style="margin:0 16px;flex-grow:1;">
      <span style="margin:20px 0;display:block;font-family:proximaNovaRegular;display:block;font-size:20px;color:rgba(0,0,0,.9);">Fotos do produto</span>
      <% fotos_produto.images.forEach(function( image) { %>
      <div style="margin-bottom:10px;display:flex;align-items:center;width:100%;height:390px;position:relative;background-image:url('<%= image %>');background-size:contain;background-repeat:no-repeat;background-position:center;">
      </div>
      <% }); %>
    </div>
    <div style="margin:40px 0;width:100%;height:1px;background-color:rgba(0,0,0,.1)"></div>
    <div id="" style="margin:0 16px;flex-grow:1;">
      <span style="margin:20px 0;display:block;font-family:proximaNovaRegular;font-size:20px;color:rgba(0,0,0,.9);">Descrição</span>
      <p style="font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.9);height:max-content;overflow-y:hidden;">
        <% produto.descricao.split(/<br\/>/g).forEach(desc => { %>
        <%= desc %><br />
        <% }); %>
      </p>
      <div onclick="descriçãoCompleta();" style="margin-top:0px;flex-grow:1;height:30px;display:none;align-items:center;">
        <span style="font-family:proximaNovaRegular;font-size:14px;color:#3483fa;">Ver descrição completa</span>
        <i class="material-icons" style="margin-left:10px;;color:#3483fa;font-size:24px;transform:rotate(90deg);"></i>
      </div>
    </div>
    <div style="margin:40px 0;width:100%;height:1px;background-color:rgba(0,0,0,.1)"></div>
    <div id="" style="margin:0 16px;flex-grow:1;">
      <span style="margin:20px 0;display:block;font-family:proximaNovaRegular;font-size:20px;color:rgba(0,0,0,.9);">Meios de pagamento</span>
      <div style="padding:13px 20px;flex-grow:1;background-color:#00a650;border-radius:4px;display:flex;align-items:center;">
        <i class="material-icons" style="margin-right:10px;font-size:20px;color:#ffffff;"></i>
        <span style="font-family:proximaNovaRegular;font-size:14px;color:#ffffff;">Pague em
          <b>até 18X sem juros!</b>
        </span>
      </div>
      <span style="margin-top:25px;display:block;font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.9);">Até 12x sem cartão de crédito!</span>
      <img src="../images/fog/c6SPYdL.png" style="display:block;margin:20px 0;max-height:24px;">
      <span style="margin-top:25px;display:block;font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.9);">Cartões de crédito</span>
      <div style="margin-top:20px;flex-grow:1;height:max-content;display:flex;align-items:center;flex-wrap:wrap;">
        <img src="../images/fog/3EZP0De.png" style="margin-right:20px;display:block;max-height:32px;">
        <img src="../images/fog/X3AlbP5.png" style="margin-right:20px;display:block;max-height:32px;">
        <img src="../images/fog/DRMHWTQ.png" style="margin-right:20px;display:block;max-height:32px;">
        <img src="../images/fog/EFVnNYl.png" style="margin-right:20px;display:block;max-height:32px;">
        <img src="../images/fog/xGDrqMw.png" style="display:block;max-height:32px;">
      </div>
      <span style="margin-top:25px;display:block;font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.9);">Cartões de débito</span>
      <img src="../images/fog/yLZGokp.png" style="margin-top:20px;display:block;max-height:32px;">
      <span style="margin-top:25px;display:block;font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.9);">Boleto bancário</span>
      <img src="../images/fog/HJfO3Ye.png" style="margin-top:20px;display:block;max-height:32px;">
      <span style="margin-top:25px;display:block;font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.9);">Pix</span>
      <span style="display:block;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.55);">Aprovação imediata.</span>
      <img src="../images/fog/LboqL3B.png" style="margin-top:20px;display:block;max-height:32px;">
    </div>
    <div style="margin:40px 0;width:100%;height:1px;background-color:rgba(0,0,0,.1)"></div>
    <div id="" style="margin:0 16px;flex-grow:1;display:flex;flex-flow:column;">
      <span style="margin:20px 0;display:block;font-family:proximaNovaRegular;font-size:20px;color:rgba(0,0,0,.9);">Perguntas e respostas</span>
      <span style="margin-top:25px;display:block;font-family:proximaNovaRegular;font-size:18px;font-weight:600;color:rgba(0,0,0,.9);opacity:.9;">Pergunte ao vendedor</span>
      <div style="flex-grow:1;height:max-content;text-align:center;background-color:#ffffff;border-radius:6px;display:flex;flex-flow:column;">
        <textarea id="pergunta" placeholder="Escreva a sua pergunta..." style="margin-top:10px;display:block;flex-grow:1;padding:12px;height:51px;outline:0;border:solid 1px rgba(0,0,0,.25);border-radius:6px;background-color:#ffffff;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.9);text-align:left;resize:none;"></textarea>
        <div onclick="perguntar();" style="margin-top:20px;flex-grow:1;height:48px;background-color:#3483fa;border-radius:6px;display:flex;align-items:center;-webkit-tap-highlight-color:transparent;">
          <span style="margin:0 auto;font-family:proximaNovaRegular;font-weight:600;font-size:16px;color:#ffffff;">Perguntar</span>
        </div>
      </div>
      <div id="perguntasDoProduto" style="margin-top:20px;flex-grow:1;display:flex;flex-flow:column;">
        <span style="margin:25px 0 20px;display:block;font-family:proximaNovaRegular;font-size:18px;font-weight:600;color:rgba(0,0,0,.9);opacity:.9;">Últimas perguntas feitas</span>
        <% questions.forEach(function(q) { %>
        <div style="margin-bottom:25px;width:100%;height:max-content;word-break:break-word;display:flex;flex-flow:column;">
          <span style="display:block;font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.9);"><%= q.question %></span>
          <div style="margin:10px 10px 0 10px;display:flex;flex-grow:1;word-break:break-word;">
            <div style="margin-top:-2px;min-width:12px;max-width:12px;min-height:12px;max-height:12px;border:solid 1px rgba(0,0,0,.25);border-top:none;border-right:none;"></div>
            <span style="margin-left:10px;display:block;font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.55);"><%= q.answer %></span>
          </div>
        </div>
        <% }); %>


      </div>
      <div onclick="comoPerguntar();" style="margin-top:35px;flex-grow:1;padding:0 15px;height:48px;background-color:rgba(65,137,230,.15);border-radius:6px;display:flex;align-items:center;">
        <i class="material-icons" style="margin:0 10px 0 auto;color:#3483fa;font-size:20px;opacity:.9;"></i>
        <span style="margin:0 auto 0 0;font-family:proximaNovaRegular;font-weight:600;font-size:16px;color:#3483fa;opacity:.9;">Como pergunto ao vendedor?</span>
      </div>
    </div>
    <div style="margin:40px 0;width:100%;height:1px;background-color:rgba(0,0,0,.1);display:flex;flex-flow:column;"></div>
    <div id="" style="margin:0 16px;flex-grow:1;display:block;">
      <span style="margin:20px 0;display:block;font-family:proximaNovaRegular;font-size:20px;color:rgba(0,0,0,.9);">Opiniões do produto</span>
      <div style="margin-top:15px;flex-grow:1;height:max-content;display:flex;">
        <div style="width:50%;">
          <span style="display:block;font-family:proximaNovaBold;font-size:40px;color:#3483fa;"><%= model_avaliation.stars /10%></span>
          <div style="margin-top:5px;width:100%;">
            <svg style="margin-right:5px;" aria-hidden="true" width="18.8" height="18" viewBox="0 0 10 10">
              <path fill="#3483FA" fill-rule="evenodd" d="M5.056 8L1.931 9.648l.597-3.49L0 3.684l3.494-.509L5.056 0l1.562 3.176 3.494.51-2.528 2.471.597 3.491z"></path>
            </svg>
            <svg style="margin-right:5px;" aria-hidden="true" width="18.8" height="18" viewBox="0 0 10 10">
              <path fill="#3483FA" fill-rule="evenodd" d="M5.056 8L1.931 9.648l.597-3.49L0 3.684l3.494-.509L5.056 0l1.562 3.176 3.494.51-2.528 2.471.597 3.491z"></path>
            </svg>
            <svg style="margin-right:5px;" aria-hidden="true" width="18.8" height="18" viewBox="0 0 10 10">
              <path fill="#3483FA" fill-rule="evenodd" d="M5.056 8L1.931 9.648l.597-3.49L0 3.684l3.494-.509L5.056 0l1.562 3.176 3.494.51-2.528 2.471.597 3.491z"></path>
            </svg>
            <svg style="margin-right:5px;" aria-hidden="true" width="18.8" height="18" viewBox="0 0 10 10">
              <path fill="#3483FA" fill-rule="evenodd" d="M5.056 8L1.931 9.648l.597-3.49L0 3.684l3.494-.509L5.056 0l1.562 3.176 3.494.51-2.528 2.471.597 3.491z"></path>
            </svg>
            <svg aria-hidden="true" width="18.8" height="18" viewBox="0 0 10 10">
              <g fill="none" fill-rule="evenodd">
                <path fill="transparent" d="M5.256 8L2.131 9.648l.597-3.49L.2 3.684l3.494-.509L5.256 0l1.562 3.176 3.494.51-2.528 2.471.597 3.491z" stoke-width="1" stroke="rgba(0, 0, 0, 0.25)" vector-effect="non-scaling-stroke"></path>
                <path fill="#3483FA" d="M5.272 8.026L2.137 9.679l.6-3.502L.2 3.697l3.505-.51L5.272 0z" stoke-width="1" stroke="#3483FA" vector-effect="non-scaling-stroke"></path>
              </g>
            </svg>
          </div>
          <span style="display:block;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.55);"><%= model_avaliation.total_avaliations%> avaliações</span>
        </div>
        <div style="width:50%;">
          <div style="width:100%;display:flex;align-items:center;">
            <div style="flex-grow:1;">
              <%
                                    let barSize = model_avaliation.tamanho_barra_5; // Certifique-se de que isso seja 100 para 100% de preenchimento
                                    %>
              <style>
                .progress-bar5 {
                  border-radius: 2.5px;
                  height: 4px;
                  background-color: rgba(0, 0, 0, .1);
                  display: flex;
                }

                .progress-bar5::before {
                  border-radius: 2.5px;
                  content: "";
                  width: 0%;
                  background-color: rgba(0, 0, 0, .55);
                }
              </style>
              <script>
                window.addEventListener('load', function() {
                  var barSize = parseFloat('<%= barSize %>'); // Substitua pela lógica de template adequada
                  var css = `.progress-bar5::before { width: ${barSize}% !important; }`;
                  var head = document.head || document.getElementsByTagName('head')[0];
                  var style = document.createElement('style');
                  head.appendChild(style);
                  style.type = 'text/css';
                  if (style.styleSheet) {
                    // Este é o caminho para IE8 e anteriores
                    style.styleSheet.cssText = css;
                  } else {
                    // Este é o caminho para a maioria dos outros browsers
                    style.appendChild(document.createTextNode(css));
                  }
                });
              </script>

              <div class="progress-bar5"></div>

            </div>
            <div style="margin-left:10px;width:14px;text-align:center;">
              <span style="font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.55);">5</span>
            </div>
            <span style="margin-top:-3px;font-size:18px;color:rgba(0,0,0,.2);">★</span>
          </div>
          <div style="width:100%;display:flex;align-items:center;">
            <div style="flex-grow:1;">
              <%
                                    let barSize4 = model_avaliation.tamanho_barra_4; // Certifique-se de que isso seja 100 para 100% de preenchimento
                                    %>
              <style>
                .progress-bar4 {
                  border-radius: 2.5px;
                  height: 4px;
                  background-color: rgba(0, 0, 0, .1);
                  display: flex;
                }

                .progress-bar4::before {
                  border-radius: 2.5px;
                  content: "";
                  width: 0%;
                  background-color: rgba(0, 0, 0, .55);
                }
              </style>
              <script>
                window.addEventListener('load', function() {
                  var barSize4 = parseFloat('<%= barSize4 %>'); // Substitua pela lógica de template adequada
                  var css = `.progress-bar4::before { width: ${barSize4}% !important; }`;
                  var head = document.head || document.getElementsByTagName('head')[0];
                  var style = document.createElement('style');
                  head.appendChild(style);
                  style.type = 'text/css';
                  if (style.styleSheet) {
                    // Este é o caminho para IE8 e anteriores
                    style.styleSheet.cssText = css;
                  } else {
                    // Este é o caminho para a maioria dos outros browsers
                    style.appendChild(document.createTextNode(css));
                  }
                });
              </script>
              <div class="progress-bar4"></div>
            </div>
            <div style="margin-left:10px;width:14px;text-align:center;">
              <span style="font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.55);">4</span>
            </div>
            <span style="margin-top:-3px;font-size:18px;color:rgba(0,0,0,.2);">★</span>
          </div>
          <div style="width:100%;display:flex;align-items:center;">
            <div style="flex-grow:1;">
              <%
                                    let barSize3 = model_avaliation.tamanho_barra_3; // Certifique-se de que isso seja 100 para 100% de preenchimento
                                    %>
              <style>
                .progress-bar3 {
                  border-radius: 2.5px;
                  height: 4px;
                  background-color: rgba(0, 0, 0, .1);
                  display: flex;
                }

                .progress-bar3::before {
                  border-radius: 2.5px;
                  content: "";
                  width: 0%;
                  background-color: rgba(0, 0, 0, .55);
                }
              </style>
              <script>
                window.addEventListener('load', function() {
                  var barSize3 = parseFloat('<%= barSize3 %>'); // Substitua pela lógica de template adequada
                  var css = `.progress-bar3::before { width: ${barSize3}% !important; }`;
                  var head = document.head || document.getElementsByTagName('head')[0];
                  var style = document.createElement('style');
                  head.appendChild(style);
                  style.type = 'text/css';
                  if (style.styleSheet) {
                    // Este é o caminho para IE8 e anteriores
                    style.styleSheet.cssText = css;
                  } else {
                    // Este é o caminho para a maioria dos outros browsers
                    style.appendChild(document.createTextNode(css));
                  }
                });
              </script>
              <div class="progress-bar3"></div>
            </div>
            <div style="margin-left:10px;width:14px;text-align:center;">
              <span style="font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.55);">3</span>
            </div>
            <span style="margin-top:-3px;font-size:18px;color:rgba(0,0,0,.2);">★</span>
          </div>
          <div style="width:100%;display:flex;align-items:center;">
            <div style="flex-grow:1;">
              <%
                                    let barSize2 = model_avaliation.tamanho_barra_2; // Certifique-se de que isso seja 100 para 100% de preenchimento
                                    %>
              <style>
                .progress-bar2 {
                  border-radius: 2.5px;
                  height: 4px;
                  background-color: rgba(0, 0, 0, .1);
                  display: flex;
                }

                .progress-bar2::before {
                  border-radius: 2.5px;
                  content: "";
                  width: 0%;
                  background-color: rgba(0, 0, 0, .55);
                }
              </style>
              <script>
                window.addEventListener('load', function() {
                  var barSize2 = parseFloat('<%= barSize2 %>'); // Substitua pela lógica de template adequada
                  var css = `.progress-bar2::before { width: ${barSize2}% !important; }`;
                  var head = document.head || document.getElementsByTagName('head')[0];
                  var style = document.createElement('style');
                  head.appendChild(style);
                  style.type = 'text/css';
                  if (style.styleSheet) {
                    // Este é o caminho para IE8 e anteriores
                    style.styleSheet.cssText = css;
                  } else {
                    // Este é o caminho para a maioria dos outros browsers
                    style.appendChild(document.createTextNode(css));
                  }
                });
              </script>
              <div class="progress-bar2"></div>
            </div>
            <div style="margin-left:10px;width:14px;text-align:center;">
              <span style="font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.55);">2</span>
            </div>
            <span style="margin-top:-3px;font-size:18px;color:rgba(0,0,0,.2);">★</span>
          </div>
          <div style="width:100%;display:flex;align-items:center;">
            <div style="flex-grow:1;">
              <%
                                    let barSize1 = model_avaliation.tamanho_barra_1; // Certifique-se de que isso seja 100 para 100% de preenchimento
                                    %>
              <style>
                .progress-bar1 {
                  border-radius: 2.5px;
                  height: 4px;
                  background-color: rgba(0, 0, 0, .1);
                  display: flex;
                }

                .progress-bar1::before {
                  border-radius: 2.5px;
                  content: "";
                  width: 0%;
                  background-color: rgba(0, 0, 0, .55);
                }
              </style>
              <script>
                window.addEventListener('load', function() {
                  var barSize1 = parseFloat('<%= barSize1 %>'); // Substitua pela lógica de template adequada
                  var css = `.progress-bar1::before { width: ${barSize1}% !important; }`;
                  var head = document.head || document.getElementsByTagName('head')[0];
                  var style = document.createElement('style');
                  head.appendChild(style);
                  style.type = 'text/css';
                  if (style.styleSheet) {
                    // Este é o caminho para IE8 e anteriores
                    style.styleSheet.cssText = css;
                  } else {
                    // Este é o caminho para a maioria dos outros browsers
                    style.appendChild(document.createTextNode(css));
                  }
                });
              </script>
              <div class="progress-bar1"></div>
            </div>
            <div style="margin-left:10px;width:14px;text-align:center;">
              <span style="font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.55);">1</span>
            </div>
            <span style="margin-top:-3px;font-size:18px;color:rgba(0,0,0,.2);">★</span>
          </div>
        </div>
      </div>
      <div style="margin:20px 10px 0 10px;flex-grow:1;">

        <% extra_details_model_avaliation.avaliations.forEach(function(avaliacao) { 
    var starsFull = Math.floor(avaliacao.starts / 10); // Número inteiro de estrelas cheias
    var starsPartial = avaliacao.starts % 10 >= 5 ? 1 : 0; // Verifica se precisa de meia estrela
    var starsEmpty = 5 - starsFull - starsPartial; // Calcula o número de estrelas vazias
%>
        <div style="margin-bottom:10px;width:100%;display:flex;align-items:center;">
          <span style="display:block;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.9);"><%= avaliacao.name %></span>
          <div style="margin:0 0 0 auto;width:max-content;">
            <% for(var i = 0; i < starsFull; i++) { %>
            <svg style="margin-right:1px;" aria-hidden="true" width="15.8" height="15" viewBox="0 0 10 10">
              <path fill="#3483FA" fill-rule="evenodd" d="M5.056 8L1.931 9.648l.597-3.49L0 3.684l3.494-.509L5.056 0l1.562 3.176 3.494.51-2.528 2.471.597 3.491z"></path>
            </svg>
            <% } %>
            <% if(starsPartial) { %>
            <svg aria-hidden="true" width="15.8" height="15" viewBox="0 0 10 10">
              <g fill="none" fill-rule="evenodd">
                <path fill="transparent" d="M5.256 8L2.131 9.648l.597-3.49L.2 3.684l3.494-.509L5.256 0l1.562 3.176 3.494.51-2.528 2.471.597 3.491z" stoke-width="1" stroke="rgba(0, 0, 0, 0.25)" vector-effect="non-scaling-stroke"></path>
                <path fill="#3483FA" d="M5.272 8.026L2.137 9.679l.6-3.502L.2 3.697l3.505-.51L5.272 0z" stoke-width="1" stroke="#3483FA" vector-effect="non-scaling-stroke"></path>
              </g>
            </svg>
            <% } %>
            <% for(var i = 0; i < starsEmpty; i++) { %>
            <svg aria-hidden="true" width="15.8" height="15" viewBox="0 0 10 10">
              <path fill="none" stroke="#3483FA" stroke-width="1" d="M5.056 8L1.931 9.648l.597-3.49L0 3.684l3.494-.509L5.056 0l1.562 3.176 3.494.51-2.528 2.471.597 3.491L5.056 8z" vector-effect="non-scaling-stroke"></path>
            </svg>
            <% } %>
          </div>
        </div>
        <% }); %>

      </div>
      <span id="corForte" style="display:none;">rgb(52, 131, 250)</span>
      <span id="corFraca" style="display:none;">rgba(0, 0, 0, 0.55)</span>
      <div style="margin:20px 0;width:100%;height:1px;background-color:rgba(0,0,0,.1);"></div>
      <% user_avaliations.forEach(function(evaluation) { %>
      <div style="margin-bottom:10px;width:100%;">
        <div style="width:100%;display:flex;align-items:center;">
          <span style="margin:0 auto 0 0;color:#3483fa;font-size:16px;">★★★★★</span>
          <span style="margin:0 0 0 auto;font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.55);">
            <% const date = new Date(evaluation.commentDate); %>
            <%= date.toLocaleDateString("pt-BR") %>
          </span>
        </div>
        <div style="margin-top:15px;max-width:100%;height:max-content;display:flex;align-items:center;flex-wrap:wrap;">
          <% if (evaluation.images) { 
           const images = JSON.parse(evaluation.images).images;
           images.forEach(function(image) { %>
          <div style="margin:0 10px 10px 0;display:flex;align-items:center;flex-grow:1;min-width:72px;width:72px;max-width:72px;min-height:72px;height:72px;max-height:72px;position:relative;background-image:url('<%= image %>');background-size:cover;background-repeat:no-repeat;background-position:center;border-radius:6px;"></div>
          <%  }); 
         } %>
        </div>
        <div style="margin-top:10px;width:100%;height:max-content;text-align:left;word-break:break-word;">
          <span style="font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.9);">
            <%= evaluation.comment %>
          </span>
        </div>
        <div style="margin-top:15px;width:100%;display:flex;">
          <div id="botaoLike<%= evaluation.id %>" onclick="avaliação('<%= evaluation.id %>', 'like')" style="cursor:pointer;height:30px;border:solid 1px rgba(0, 0, 0, 0.55);display:flex;align-items:center;border-radius:15px;">
            <div style="margin:0 0 0 10px;width:30px;text-align:left;">
              <span class="corLike<%= evaluation.id %>" style="display:block;font-family:proximaNovaRegular;font-size:12px;font-weight:600;color:rgba(0, 0, 0, 0.55);">É útil</span>
            </div>
            <div style="margin:0;width:30px;text-align:center;">
              <i class="material-icons" id="corLike<%= evaluation.id %>" style="margin-top:2px;font-size:16px;color:rgba(0, 0, 0, 0.55);">thumb_up</i>
            </div>
            <div style="margin:0 10px 0 0;text-align:left;">
              <span id="likes<%= evaluation.id %>" class="corLike<%= evaluation.id %>" style="display:block;font-family:proximaNovaRegular;font-size:12px;font-weight:600;color:rgba(0, 0, 0, 0.55);"><%= evaluation.likes %></span>
            </div>
          </div>
          <!-- Outros botões ou elementos podem ser adicionados aqui -->
        </div>
      </div>
      <div style="display:block;margin:25px 0;width:100%;height:1px;background-color:rgba(0,0,0,.1);"></div>
      <% }); %>

    </div>
    <div class="carrossel" style="width:100%;padding:25px 0 50px;">
      <span style="margin:5px 10px 20px;display:block;font-family:proximaNovaRegular;font-size:20px;color:rgba(0,0,0,.9);">Produtos relacionados</span>
      <div class="carrossel2">
        <% if (relatedProducts && relatedProducts.length > 0) { %>
        <% relatedProducts.forEach(function(product) { %>
        <% if (product) { %>
        <div onclick="acessarLink('/produto/<%= product.id %>');" style="margin-left:10px;margin-right:10px;min-width:220px;width:220px;max-width:220px;background-color:#ffffff;border-radius:4px;cursor:pointer;">
          <div style="flex-grow:1;height:220px;position:relative;background-image:url('<%= product.imagem_capa %>');background-size:contain;background-repeat:no-repeat;background-position:center;"></div>
          <div style="margin:15px;">
            <span style="font-family:proximaNovaRegular;font-size:16px;color:rgba(0,0,0,.55);text-decoration:line-through;">R$ <%= product.preco_original %></span>
            <div style="width:max-content;display:flex;">
              <span style="font-family:proximaNovaLight;font-size:24px;color:#333333;">R$ <%= product.preco_atual %></span>
              <span style="margin:5px 0 0 5px;font-family:proximaNovaRegular;font-size:14px;color:#00a650;">59% OFF</span>
            </div>
            <span style="margin-top:5px;display:none;font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.8);line-height:1;"></span>
            <div style="margin-top:5px;width:100%;display:flex;align-items:center;">
              <span style="display:block;font-family:proximaNovaRegular;font-weight:800;font-size:14px;color:#00a650;">Chegará amanhã</span>
              <img src="../images/fog/ulfGCun.png" style="max-height:16px;">
            </div>
            <div style="margin-top:10px;flex-grow:1;height:30px;word-break:break-word;text-align:left;display:flex;align-items:center;">
              <span style="font-family:proximaNovaRegular;font-size:14px;color:rgba(0,0,0,.8);"><%= product.nome_produto %></span>
            </div>
          </div>
        </div>
        <% } %>
        <% }); %>
        <% } else { %>
        <p>Não há produtos relacionados para mostrar.</p>
        <% } %>

      </div>
    </div>
  </main>
  <footer>
    <div style="margin:25px;flex-grow:1;word-break:break-word;">
      <span style="display:block;font-family:proximaNovaRegular;font-size:12px;color:#333333;">Termos e condições Como cuidamos da sua privacidade Acessibilidade Informações sobre seguros Blog Afiliados Tendências</span>
      <span style="display:block;font-family:proximaNovaRegular;font-size:12px;color:#999999;opacity:.9;">© 1999-2024 Ebazar.com.br LTDA.</span>
      <span style="display:block;font-family:proximaNovaRegular;font-size:12px;color:#888888;">CNPJ n.º 03.007.331/0001-41 Av. das Nações Unidas, nº 3.003, Bonfim, Osasco/SP - CEP 06233-903</span>
    </div>
  </footer>
</body>

</html>